@import '../partials/common/index';

/*****************
 ***** 登录框 ****
 *****************/
.c-login-box {
  margin: 1em auto;
  width: 50%;
  padding: 1em;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.c-login-box__oauth {
  float: right;
}
