@import '../partials/common/index';

/*****************
 *** 密码重置 **
 *****************/
.c-pwd-reset {
  margin: 0 auto;
  width: 40%;
  text-align: center;
}

.c-pwd-reset__hint {
  color: #777;
  margin-bottom: 1em;
}
