extends ../layouts/main
block content
  div
    ul
      li
        a(href='/profile/user_info' class={active: pos == 'user_info'}) 个人信息
      li
        a(href='/profile/jobs' class={active: pos == 'jobs'}) 申请的职位
    div
      if pos == 'user_info'
        include _user_info.pug
      else if pos == 'jobs'
        include _jobs.pug
