extends ../layouts/main
append js
  script(src=assetHashPath('profile/index.js'))
block content
  div(class='u-flex' id='profile-mount')
    left-nav(:page-name='pageName' :user-type='userInfo.type')
    component(class='c-uc-right-content' v-bind:is="pageName")
