extends ../layouts/main
append js
  include ../share/_ueditor_js.pug
  script(src=assetHashPath('profile/index.js'))
block content
  div(class='u-flex' id='profile-mount')
    left-nav(:page-name='pageName' :user-type='userInfo.type')
    component(class='c-uc-right-content' :user-type='userInfo.type' v-bind:is="pageName")
