extends ../layouts/main
append css
  link(href=assetHashPath("profile/index.css"), rel="stylesheet")
append js
  include ../share/_ueditor_js.pug
  script(src=assetHashPath('profile/index.js'))
block content
  div(class='u-flex' id='profile-mount')
    left-nav(v-bind:user-type='userInfo.type')
    router-view(class='c-uc-right-content' v-bind:user-type='userInfo.type')
