extends _layout.pug
append css
  link(href=assetHashPath("profile/user_info.css"), rel="stylesheet")
append js
  script(src=assetHashPath('profile/user_info.js'))
  include ../share/_ueditor_js.pug
block right_content
  mixin buttons
    .js-change-btns(style={display: 'none', 'margin-top': '0.5em'})
      button.u-fir-span(type='button', class='o-btn o-btn-primary js-save') 修改
      button(type='button', class='o-btn o-btn-normal js-cancel') 取消

  if currentUser.type == 0
    include _student.pug
  else
    include _company.pug
