/**
 * all common variabels definition
 */

/**
 * colors
 */

$success-color: #090;
$error-color:   #900;
$unknown-color: #603311;
$less-imp:      #888;

$bd-light:      #ccc;
$bd-normal:     #aaa;
$bd-dark:       #888;
$bd-darker:     #666;
$bd-focus:      #00a;
$hl-color:      #79A251;
