header
  .content.header-container
    a(href='/' class='logo') 学做网
    span.user-nav
      - var cu = req.currentUser
      if cu
        span 你好, #[a(href='/profile')= cu.name]
        a(href='/logout') 退出
      else
        a(href='login') 登陆
        a(href='signup') 注册
