doctype html
html(lang='zh')
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title= title
    block css
  body
    include ./_head.pug
    block content
    include ./_foot.pug
    script(src='/js/vendor.js')
    block js
