doctype html
html(lang='zh')
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title= title
    link(href="/css/font-awesome.css", rel="stylesheet")
    block css
  body
    include ./_head.pug
    main.content
      block content
    include ./_foot.pug
    script(src='/js/vendor.js')
    block js
