/**
 * include common attrs to the whole site, such as:
 * 1. layout, header, main, footer
 * 2. font
 * 3. button
 */

$label-width: 120px;
$label-margin: 15px;
$text-width: 320px;

* {
  box-sizing: border-box;
}

p {
  margin: 0 0 0.8em;
  padding: 0;
}

body {
  font-size: 100%;
}

/* form and controls */
form {
  padding: 20px;

  fieldset {
    margin: 0;
    padding: 0;
    border: none;
    border-top: 1px solid #8e8e8e;
    padding-top: 20px;
  }

  .label {
    display: inline-block;
    width: 120px;
    vertical-align: top;
    text-align: right;
    margin-right: 15px;
  }

  label.button-box {
    margin-right: 12px;
  }

  .right-column {
    margin-left: $label-width + $label-margin;
  }

  .hint {
    font-size: 0.8px;
    color: #ccc;
  }

  input[type=text],
  input[type=email],
  input[type=password],
  textarea {
    width: 320px;
  }
}

/* tables */
table {
  border-collapse: collapse;
  tr:nth-of-type(even) {
    background-color: #ccc;
  }

  tr.header {
    background-color: #bbb;
  }

  th,td {
    border: 1px solid #aaa;
    padding: 6px 12px;
  }
}

table.jobs {
  margin-top: 12px auto 0 auto;
}

/* list */
ul.nav {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 0;
  a {
    display: block;
    height: 2;
    line-height: 2;
    border-top: none;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 3px solid #000;
    border-bottom: 1px solid #ccc;
    padding-left: 8px;
  }

  li:first-child a {
    border-top: 1px solid #ccc;
  }
}
