/* header */
header {
  background-color: #ddd;
  padding: 6px 0;

  .header-container {
    align-items:center;
    .logo {
      font-size:1.5em;
      line-height:1.5;
      font-weight:bold;
      margin-right:auto;
    }

    span.user-nav {
      a, span {
        margin-left: 6px;
      }
    }
  }
}
