/* header */
header {
  background-color: #ddd;
  line-height:1.5;
  .logo {
    font-size:1.5em;
    font-weight:bold;
  }
  padding: 6px 0;
  .header-container {
    position: relative;
    span.user-nav {
      position: absolute;
      right: 0;
      a, span {
        margin-left: 6px;
      }
    }
  }
}
