/* header */
header {
  background-color: #ddd;
  padding: 6px 0;

  .header-container {
    align-items:center;

    .logo {
      font-size:1.2em;
      line-height:1.2;
      font-weight:bold;
      margin-right:auto;
    }
  }

  .user-center img {
    display: inline-block;
    margin-left: 18px;
    margin-right: 6px;
  }

  .user-center .menu-show {
    color: #555;

    &:hover {
      color: #0276FD;
    }
  }

  .msg-notify {
    color: #555;
    &:hover{
      color: #0276FD;
    }

    sup {
      color: #a00;
    }
  }
}
