main {
  max-width:1200px;
  margin:0 auto;
  margin-top: 12px;

  .left {
    float: left;
    width: 50%;
    padding-right: 6px;
  }

  .right {
    float: right;
    width: 50%;
    padding-left: 6px;
  }
}
