@import 'main';

/* new answer */
.answer-new-head {
  margin-bottom: 0.5em;
  padding-bottom: 6px;
  border-bottom: 3px solid #aaa;

  .job-title {
    margin: 0 0.5em;
  }
}

.answer-new .question {
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 2px solid #aaa;

  .question-content {
    margin-top: 0.5em;
    font-size: 0.9em;
  }
}

.answer-new-form {
  margin-top: 0.5em;

  .form-group {
    margin-top: 0.5em;
  }
}

/* answsers list */
.answers-head {
  padding-bottom: 0.5em;
  border-bottom: 3px solid #aaa;
}

.answers-question {
  margin: 0.5em 0;
  padding-bottom: 0.5em;
  border-bottom: 2px solid #777;
  .question-content {
    margin-top: 0.5em;
  }
}

.answer {
  padding-bottom: 0.5em;
  border-bottom: 1px solid #777;

  .user-info {
    padding: 0.5em 0;
    border-top: 1px dashed #aaa;
    border-bottom: 1px dashed #aaa;
    margin: 0.5em 0;
    overflow: hidden;
    span {
      margin-right: 1em;
    }
    .answer-detail {
      float: right;
    }
  }
}

/* answer show */
.answer-content .body {
  margin: 0.5em 0;
  padding-bottom: 0.5em;
  border-bottom: 2px solid #777;
}

.opts {
  margin-bottom: 1em;

  a.edit-answer {
    margin-right: 1em;
  }

  a.re-score {
    margin-left: 1em;
  }
}
