@import 'partials/common/index';

/**
 * 首页欢迎页面，页面里面有标语及注册框
 */
.c-home-welcome {
  display: flex;
  align-items: center;
  border-bottom: 2px solid $bd-light;
}

// 标语
.c-home-welcome__slogan {
  flex: 1;
  text-align: center;
  line-height:2em;
}

// 注册框
.c-home-welcome__signup {
  flex: 1;

  .o-fm-ctl { margin-top: 0; }
}


/**
 * 标语和注册框下面的介绍部分 
 */
.c-home-second-wel {
  display: flex;
  margin-top: 16px;
}

.c-home-hot-part {
  flex: 1;
}

.c-home-hot-item {
  padding-top: 0.5em;
}
