@import 'partials/all';
@import 'partials/login_box';

.welcome-signup-wrapper {
  background: #362819;
  color: #fff;

  .welcome-signup {
    align-items: center;
    padding: 32px 0;
  }

  input[type='radio'] + label {
    background-color: $bd-light;
    border-color: $bd-light;
    color: $less-imp;
  }

  input[type='radio']:checked + label {
    background-color: $bd-darker;
    border-color: $bd-darker;
    box-shadow: inset 0 0 4px $bd-normal;
    color: #fff;
  }

  .main-slogan, .index-signup {
    flex: 1;
  }

  .main-slogan {
    line-height:2em;
    margin-right:1em;
  }

  .index-signup {
    margin-left: 1em;
  }

  input[type=submit] {
    width: 100%;
  }
}

.welcome-other-wrapper {
  .welcome-other {
    padding: 32px 0;
    justify-content: space-around;
  }

  .welcome-sec {
    flex-flow: column;
    padding: 0 1em;
  }

  ul.wl-content {
    margin: 0.5em 0;
    flex: 1;
    li {
      margin: 0.5em 0;
      font-weight: bold;
    }
  }
}
