@import 'partials/common/index';

/**
 * 首页欢迎页面，页面里面有标语及注册框
 */
.c-home-welcome {
  display: flex;
  align-items: center;
  border-bottom: 30px solid #f1f1f1;
}

// 标语
.c-home-welcome__slogan {
  flex: 1;
  text-align: center;
  line-height:2em;
}

// 注册框
.c-home-welcome__signup {
  flex: 1;

  .o-fm-ctl { margin-top: 0; }
}


/**
 * 标语和注册框下面的介绍部分 
 */
.c-home-second-wel {
  display: flex;
  margin-top: 16px;
}

.c-home-hot-part {
  flex: 1;

  &:first-child {
    margin-right: 1em;
  }

  &:last-child {
    margin-left: 1em;
  }
}

.c-home-hot-part__title {
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 0.5em;
  border-bottom: 2px solid $hl-color;
  margin: 0.5em 0;
}

.c-home-hot-item {
  padding-bottom: 0.5em;
  border-bottom: 1px solid $bd-light;
  margin-bottom: 0.5em;
  position: relative;
}

.c-home-hot-item__cmp {
  color: $bd-dark;
  margin: 0 4px;
}

.c-home-hot-item__right {
  position: absolute;
  color: $bd-dark;
  right: 0;
}
