@import 'partials/all';
@import 'partials/login_box';

.welcome-signup-wrapper {
  background: #362819;
  color: #fff;

  .welcome-signup {
    align-items: center;
    padding: 64px 0;
  }

  .main-slogan, .index-signup {
    flex: 1;
  }

  .main-slogan {
    line-height:2em;
    margin-right:1em;
  }

  .index-signup {
    margin-left: 1em;
  }

  input[type=submit] {
    width: 100%;
  }
}

.welcome-other-wrapper {
  background: #F7EFC6;

  .welcome-other {
    padding: 32px 0;
  }

  .welcome-student, .welcome-company {
    flex: 1;
    flex-flow: column;
  }

  .welcome-student {
    margin-right:1em;
  }

  .welcome-company {
    margin-left:1em;
  }

  .sentence {
    line-height: 2em;
    flex: 1;
  }

  .goto-questions {
    margin-right: 1em;
  }
}
