@import 'main';

.new-job {
  margin-top:20px;

  & > div.flex {
    flex-flow:row wrap;
    justify-content:space-between;

    & > div {
      width:48%;
    }
  }
}

.jobs-container {
  margin-top:20px;

  .job-item {
    margin-bottom:20px;
    padding:10px;
    background-color:#eee;

    &:hover {
      background-color:#d2d2d2;
    }

    .job-info {
      flex: 8;

      .job-title {
        font-weight:bold;
        font-size:1.1rem;
        color:blue;
      }

      .job-basics span {
        margin-right:16px;
      }

      .job-others {
        justify-content:space-between;
        & > div {
          width:48%;
        }
      }
    }

    .job-op {
      flex: 1;
    }
  }
}
