@import 'main';

.new-job, .edit-job {
  margin-top:20px;

  label.input-error {
    margin: 0 0 6px;
  }

  & > div.flex {
    flex-flow:row wrap;
    justify-content:space-between;

    & > div {
      width:48%;
    }
  }
}

.jobs-search {
  margin-top:20px;

  form > div.flex {
    margin-bottom:0.5em;
    span {
      flex:1;
      align-items:center;

      &:not(:first-child) {
        margin-left:0.5em;
      }
    }

    .form-control, input[type='submit'] {
      flex: 1;
    }
  }
}

.jobs-container {
  margin-top:20px;

  .job-item {
    margin-bottom:20px;
    padding:10px;
    background-color:#eee;
    border:1px solid #d2d2d2;

    &:hover {
      border:1px solid blue;
    }

    .job-title {
      margin-top:0;
      padding-bottom:6px;
      border-bottom:1px solid #bbb;
      align-items:center;

      a {
        font-weight:bold;
        font-size:1.1rem;
        color:blue;
        margin-right:auto;
      }

      span.apply-result {
        color:green;
        font-weight:bold;
      }
    }

    .job-basics {
      margin-top: 6px;
      margin-bottom: 6px;
      padding-bottom: 6px;
      border-bottom:1px dashed #bbb;

      span {
        padding:0 8px;
        border-right:1px solid #bbb;
        &:first-child {
          padding-left:0;
        }
        &:last-child {
          border-right:none;
        }
      }
    }

    .job-others {
      justify-content:space-between;
      & > div {
        width:48%;
        p {
          font-weight:bold;
          padding-bottom:6px;
        }
      }
    }
  }
}

.appliers-container {
  .applier {
    padding: 6px 0;
    margin-bottom: 6px;

    .applier-title {
      padding-bottom: 6px;
      border-bottom: 1px solid #ccc;

      .title-link {
        font-size: 1.1rem;
        font-weight: bold;
      }
    }

    .applier-info {
      padding: 6px 0;
      span {
        display: inline-block;
        padding: 0 6px;
        border-right: 1px solid #ccc;
      }
      span:first-child {
        padding-left: 0;
      }
      span:last-child {
        border-right: none;
      }
    }

    .apply-result {
      .op-message {
        margin-top: 16px;
      }

      .apply-refused {
        color: red;
      }

      .apply-passed {
        color: green;
      }
    }
  }
}
