@import 'main';

.password-reset {
  width: 40%;
  p.reset-hint {
    font-size: 0.9em;
    color: #777;
    margin-bottom: 1em;
  }
  input[type='submit'] {
    width: 100%;
  }
  .form-group {
    text-align:left;
  }
}
