@import 'main';

.profile-container {
 .left-nav {
    flex:1;
    border: 1px solid #ccc;

    a {
      display: block;
      line-height: 2;
      border-bottom: 1px solid #ccc;
      padding-left: 8px;
    }

    a.active {
      background-color: #ddd;
    }

    a:hover:not(.active) {
      background-color: #eee;
    }
  }

  .right-content {
    flex:5;
    padding: 6px 20px;
    border: 1px solid #ccc;
    border-left:none;

    /* 浏览与修改用户信息 */
    .user-info {
      .form-control, .form-control-hint {
        width:80%;
        margin-right: 6px;
      }

      button {
        vertical-align:top;
        &:first-of-type {
          margin-right:6px;
        }
      }
    }

    /* 申请或创建的职位信息 */
    .new-job {
      margin-bottom: 0.8em;
      font-weight: bold;
    }

    .jobs-container .job-item {
      margin-bottom:20px;
      padding:10px;
      background-color:#eee;
      border:1px solid #d2d2d2;

      &:hover {
        border:1px solid blue;
      }

      .job-info {
        flex: 8;
        padding-right:6px;

        .job-title {
          margin-top:0;
          padding-bottom:6px;
          border-bottom:1px solid #bbb;
          position: relative;

          a.title-link, a.appliers-link {
            font-weight:bold;
            font-size:1.1rem;
            color:blue;
          }

          a.title-link {
            display: inline-block;
            margin-right: 16px;
          }

          a.job-edit {
            position: absolute;
            right: 6px;
          }
        }

        .job-basics {
          margin-top: 6px;
          margin-bottom: 6px;
          padding-bottom: 6px;
          border-bottom:1px dashed #bbb;

          span {
            padding:0 8px;
            border-right:1px solid #bbb;
            &:first-child {
              padding-left:0;
            }
            &:last-child {
              border-right:none;
            }
          }
        }

        .job-status {
          margin-top: 6px;
          padding-top: 6px;
          border-top:1px dashed #bbb;

          .apply-pending {
            color: blue;
          }

          .apply-refused {
            color: red;
          }

          .apply-passed {
            color: green;
          }
        }
      }
    }

    /* 账号与密码 */
    .account {
      padding:1em 0;

      & > div:first-child {
        margin-bottom:1em;
      }

      .header {
        border-radius: 0.25em 0.25em 0 0;
        background:#ccc;
        border:1px solid #ccc;
        padding:0.5em 1.2em;
      }

      form {
        border:1px solid #ccc;
        border-top:none;
        padding:0.5em 1.2em;
      }

      .avatar {
        img {
          border-radius: 0.25em;
        }

        .upload {
          display:inline-block;
          margin-left:1em;
          vertical-align:top;
          span:first-child {
            position:relative;
            input {
              position:absolute;
              top:0;
              left:0;
              margin-left:-50px;
              opacity:0.001;
              cursor:pointer;
            }
          }

          span:last-child {
            font-size:0.8em;
            color:#777;
            display:block;
            margin-top:0.5em;
          }
        }
      }
    }
  }
}
