@import 'partials/all';

/**
 * 题目列表
 */
.questions-head {
  line-height: 32px;
  margin-bottom: 0.5em;
  padding-bottom: 6px;
  border-bottom: 3px solid #aaa;

  .job-title {
    margin-right: 0.5em;
  }

  .new-question {
    right: 0;
  }
}

.questions-list {
  .no-questions {
    color: #700;
  }

  .question {
    padding: 0.4em 0 0.3em;
    border-bottom: 2px solid #ccc;
  }

  .question-content {
    padding-bottom: 0.5em;
  }

  .question-level {
    line-height: 32px;
    padding-top: 6px;
    border-top: 1px dashed #ccc;

    .del-question   { right: 0; }
    .edit-question  { right: 60px; }
    .answers        { right: 120px; }
  }
}

/**
 * 新建及修改题目
 */
.questions-new-head {
  margin-bottom: 0.5em;
  padding-bottom: 6px;
  border-bottom: 3px solid #aaa;

  .job-title {
    margin: 0 0.5em;
  }
}

.questions-new-form,
.questions-edit-form {
  .level {
    margin-top: 0.6em;
  }
  .level > input[type=radio] {
    vertical-align: middle;
    margin-top: -2px;
  }
}
