@import 'partials/all';

$hl-color: #79A251;
$cl-color: #aaa;

.q-common-head {
  padding-bottom: 0.5em;
  border-bottom: 2px solid $hl-color;
  margin-bottom: 0.5em;

  .form-control-hr {
    width: 256px;
  }
}

.q-index {
  .q-common-head {
    align-items: flex-end;
  }

  .new-q {
    margin-left: auto;
  }
}

// 列表中单个问题
.q-single {
  padding: 0.5em;
  border: 1px solid #aaa;
  border-radius: 4px;
  margin-bottom: 1em;
}

.q-content {
  padding: 0.5em 0;
  margin: 0.5em 0;
  border-top: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
}

.q-level {
  margin-left: auto;
}

.q-foot {
  align-items: flex-end;

  .q-opts {
    margin-left: auto;
  }
}

/**
 * 新建及修改题目
 */
.q-new-edit {
  max-width: 720px;
  margin: auto;
}

form.q-new,
form.q-edit {
  .level {
    margin-top: 0.6em;
  }
  .level > input[type=radio] {
    vertical-align: middle;
    margin-top: -2px;
  }
}

/**
 * 问题详情页
 */
.q-show {
  .q-content {
    border-top: none;
    border-bottom: 2px solid #aaa;
  }

  .a-content {
    padding: 0.5em;
    background-color: #eee;
    border: 1px solid #aaa;
    margin: 0.5em 0;
  }
}
