@import 'partials/all';

.q-common-head {
  padding-bottom: 0.5em;
  border-bottom: 2px solid $hl-color;
  margin-bottom: 0.8em;

  .form-control-hr {
    width: 256px;
  }
}

.q-index {
  .q-common-head {
    align-items: flex-end;
  }

  .new-q {
    margin-left: auto;
  }
}

// 列表中单个问题
.q-single {
  padding: 0.5em;
  border: 1px solid $bd-normal;
  border-radius: 4px;
  margin-bottom: 1em;

  .q-head {
    align-items: flex-end;
  }
}

.q-content {
  padding: 0.5em 0;
  margin: 0.5em 0;
  border-top: 1px dashed $bd-light;
  border-bottom: 1px dashed $bd-light;
}

.q-tag {
  margin-left: auto;
}

.q-lab {
  padding: 0 0.5em;
  border-left: 2px solid $bd-normal;
  border-right: 2px solid $bd-normal;
  margin: 0 0.5em;
}

/**
 * 新建及修改题目
 */
form.q-new,
form.q-edit {
  .br-theme-fontawesome-stars {
    margin-top: 0.6em;
    .br-widget {
      a {
        font-size: 24px;
        margin-right: 8px;
      }
    }
  }
}

.q-new-edit {
  width: 720px;
  margin: auto;
  padding: 1em;
  border: 1px solid $bd-normal;
  border-radius: 4px;
}

/**
 * 问题详情页
 */
.q-show {
  .q-content {
    border-top: none;
    border-bottom: 2px solid $bd-normal;
  }

  .a-content {
    padding: 0.5em;
    background-color: $bd-light;
    border: 1px solid $bd-normal;
    margin: 0.5em 0;
  }
}
