@import 'partials/all';

.formal-signup {
  .progress {
    border: 1px solid #aaa;

    div {
      flex: 1;
      border-left: 1px solid #aaa;
      padding: 20px 30px;
    }

    div:first-child {
      border-left: none;
    }

    .signup-active {
      background-color: #ccc;
    }
  }

  .current-step {
    margin-top: 20px;
  }
}

.current-step {
  form {
    padding: 0.5em 1em;
    border: 1px solid #aaa;
    flex: 1;

    .promotion {
      color: #008;
      padding-bottom: 0.5em;
      border-bottom: 1px solid #ddd;
    }
  }

  .comments {
    padding: 0.5em 1em;
    border: 1px solid #aaa;
    flex: 1;
    margin-left: 30px;
  }
}
