@import 'partials/common/index';

/*****************
 ***** 登录框 ****
 *****************/
.c-login-box {
  margin: 1em auto;
  width: 50%;
  padding: 1em;
  border: 1px solid #aaa;
  border-radius: 4px;
}




/**************
 * 用户详情页 *
 **************/

// 基本信息
.c-user-basics {
  padding: 0.5em;
  border: 1px solid $bd-normal;
  border-radius: 4px 4px 0 0;

  // 基本信息分隔栏
  & > span {
    padding: 0 0.5em;
    border-right: 2px solid $bd-normal;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
      border-right: none;
    }
  }
}

// 小头像
.c-user-basics__ava {
  border-radius: 4px;
  vertical-align: middle;
  width: 24px;
  height: 24px;
}

// 用户的部分信息
.c-user-part-info {
  padding: 0.5em;
  border: 1px solid $bd-normal;
  border-top: none;
}

// 部分信息标题
.c-user-part-info__head {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

// 企业发布的职位
.c-user-part-info__cmp-job {
  display: flex;
  padding: 0.5em 0;
  border-top: 1px dashed $bd-normal;

  & > span { flex: 1; }

  &:last-child {
    border-bottom: 1px dashed $bd-normal;
  }
}



/***************
 *    注册     *
 ***************/

// 注册进度
.c-signup-progress {
  display: flex;
  margin: 1em 0 2em 0;
  border-radius: 4px;
  border: 1px solid $bd-normal;
}

// 具体每一步
.c-signup-progress__step {
  flex: 1;
  border-left: 1px solid $bd-normal;
  padding: 20px 30px;

  &:first-child { border-left: none; }

  &.is-active { background-color: $bd-normal; }
}

// 每一步的注册表单
.c-signup-step-fm {
  padding: 0.5em 1em;
  border: 1px solid $bd-normal;
  border-radius: 4px;
  flex: 1;
}

// 第一步注册过程中的宣传语
.c-signup-step-comments {
  padding: 0.5em 1em;
  border: 1px solid #aaa;
  border-radius: 4px;
  margin-left: 2em;
  flex: 1;
}

.c-signup-step-comment {
  line-height: 1.5em;
  margin: 1em 0;
}

// 注册完成
.c-signup-step-over {
  text-align: center;
  font-weight: bold;
  flex: 1;
}



/*****************
 *** 密码重置 **
 *****************/

.c-pwd-reset {
  margin: 0 auto;
  width: 40%;
  text-align: center;
}

.c-pwd-reset__hint {
  color: #777;
  margin-bottom: 1em;
}
