@import 'partials/all';
@import 'partials/login_box';

.u-basic-info {
  padding: 0.5em;
  border: 1px solid $bd-normal;
  border-radius: 4px 4px 0 0;

  span {
    padding: 0 0.5em;
    border-right: 2px solid $bd-normal;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
      border-right: none;
    }
  }
}

.u-desc-sec {
  padding: 0.5em;
  border: 1px solid $bd-normal;
  border-top: none;

  .head {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 0.5em;
  }
}

.u-desc-job {
  padding: 0.5em 0;
  border-top: 1px dashed $bd-normal;

  span {
    flex: 1;
  }

  &:last-child {
    border-bottom: 1px dashed $bd-normal;
  }
}

// 注册
.formal-signup {
  .progress {
    border: 1px solid $bd-normal;
    margin: 1em 0 2em 0;

    div {
      flex: 1;
      border-left: 1px solid $bd-normal;
      padding: 20px 30px;
    }

    div:first-child {
      border-left: none;
    }

    .signup-active {
      background-color: $bd-normal;
    }
  }
}

.current-step {
  form {
    padding: 0.5em 1em;
    border: 1px solid $bd-normal;
    flex: 1;
  }

  .comments {
    padding: 0.5em 1em;
    border: 1px solid #aaa;
    margin-left: 2em;
    flex: 1;
  }

  .signup-over {
    flex: 1;
  }
}

// 密码重置
.password-reset {
  width: 40%;
  p.reset-hint {
    color: #777;
    margin-bottom: 1em;
  }
  input[type='submit'] {
    width: 100%;
  }
  .form-group {
    text-align:left;
  }
}
