@import 'partials/all';
@import 'partials/login_box';

.basic-info {
  padding: 0.5em 1em;
  border: 1px solid #aaa;
  border-radius: 4px 4px 0 0;

  span {
    padding: 0 0.5em;
    border-right: 1px solid #aaa;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border-right: none;
    }
  }

  img {
    vertical-align: middle;
    border-radius: 3px;
  }
}

.career-plan,
.zuopin,
.company-desc,
.jobs {
  padding: 1em;
  border: 1px solid #aaa;
  border-top: none;

  .head {
    margin-bottom: 1em;
  }
}

.jobs .job {
  padding: 0.5em 0;
  border-top: 1px dashed #aaa;
  span {
    flex: 1;
  }

  &:last-child {
    border-bottom: 1px dashed #aaa;
  }
}
