// 颜色定义

/* text */
$flash-success-color: #090;
$flash-error-color: #900;

// link
$link-color: #00a;

/* button */
$btn-nor-color: #000;
$btn-nor-bd-color: #777;
$btn-nor-bk-color: #999;
$btn-nor-hv-bk-color: #888;

$btn-pri-color: #fff;
$btn-pri-bd-color: #070;
$btn-pri-bk-color: #090;
$btn-pri-hv-bk-color: #080;

$btn-warn-color: #fff;
$btn-warn-bd-color: #700;
$btn-warn-bk-color: #900;
$btn-warn-hv-bk-color: #800;
