// 颜色定义

/* text */
$success-color: #090;
$error-color: #900;
$unknown-color: #603311;
$less-imp: #888;

// link
$link-color: #00a;

/* button */
$btn-nor-color: #000;
$btn-nor-bd-color: #aaa;
$btn-nor-bk-color: #ddd;
$btn-nor-hv-bk-color: #bbb;

$btn-pri-color: #fff;
$btn-pri-bd-color: #070;
$btn-pri-bk-color: #090;
$btn-pri-hv-bk-color: #080;

$btn-warn-color: #fff;
$btn-warn-bd-color: #700;
$btn-warn-bk-color: #900;
$btn-warn-hv-bk-color: #800;

/* text & border & background */
$bd-light: #ccc;
$bd-normal: #aaa;
$bd-dark: #888;
$bd-darker: #666;
$bd-focus: #00a;

$hl-color: #79A251;
