// 颜色定义

/* text */
$flash-success-color: #0f0;
$flash-error-color: #f00;

// 不太重要的字体
$less-imp: #666;

// link
$link-color: #0276FD;

/* button */
$btn-nor-color: #000;
$btn-nor-bd-color: #eee;
$btn-nor-bk-color: #eee;
$btn-nor-hv-bk-color: #53868B;

$btn-pri-color: #000;
$btn-pri-bd-color: #eee;
$btn-pri-bk-color: #2E37FE;
$btn-pri-hv-bk-color: #0000CD;

$btn-warn-color: #000;
$btn-warn-bd-color: #eee;
$btn-warn-bk-color: #B13E0F;
$btn-warn-hv-bk-color: #8B2500;
