@charset "UTF-8";
body {
  width:960px;
  margin:0.5em auto;
  font:100% \9ED1\4F53,\5B8B\4F53
}

ul {
  list-style:none;
  padding:0;
}

a:link {
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

/* header */
header,
main,
footer {
  position:relative;
  padding:0.5em;
  margin-bottom:0.5em;
  border:1px solid #999;
}

header a,
header li,
footer li {
  display:inline-block;
}

.user-info {
  position:absolute;
  top:0.5em;
  right:0.5em;
  margin:0;
  padding-left:0;
}

.user-info li {
  padding-left:0.5em;
}

/* main */
main {
  display:flex;
  align-items:center;
  position:relative;
}

main div {
  padding:0 16px;
  width:50%;
}

/* footer */
footer ul {
  margin:0 auto;
  width:136px;
}

footer li:last-child {
  padding-left:0.5em;
}

/* form */
div.form-wrapper {
  width:50%;
  margin:0 auto;
}

label {
  display:inline-block;
  text-align:right;
  vertical-align:top;
  width:80px;
}

#user-type-student {
  margin-left:0;
}

[type="radio"]+label {
  text-align:left;
  width:auto;
}

[type="submit"] {
  margin-left:80px;
}

[type="text"],
[type="email"],
[type="password"] {
  width:50%;
}

input.error {
  border-color:red;
}

div.form-hint {
  color:#aaa;
  margin-left:80px;
  font-size:80%;
}

span.invalid {
  color:red;
  font-size:80%;
  padding-left:6px;
}
