form-validator(method='post', action='/signup_step2', class='c-signup-step-fm', v-bind='$data')
  if userType == 0
    include _student_signup_detail.pug
  else
    include _company_signup_detail.pug
  .o-fm-grp
    input(type='submit', value='保 存' class='o-btn o-btn-primary')
