form(method='post', action='/signup', class='signup', data-step=step)
  input(type='hidden', name='step', value=step)
  .form-group
    label(for='name' class='label label-input') 用户名
    input(type='text', name='name', id='name', placeholder='字母数字中文等，唯一' class='form-control')
  .form-group
    label(for='email' class='label label-input') Email
    input(type='email', name='email', id='email', placeholder='xxx@yyy.com' class='form-control')
  .form-group
    label(for='password' class='label label-input') 密码
    input(type='password', name='password', id='password', placeholder='不少于6位' class='form-control')
  .form-group
    label(class='label label-radio')
      input(type='radio', id='user-type-student', name='userType', value=0, checked)
      | 学生
    label(class='label label-radio')
      input(type='radio', id='user-type-company', name='userType', value=1)
      | 公司
  .form-group
    input(type='submit', value='注 册' class='btn btn-primary')
.comments
  .header 在这里，你将：
  ul.nav
    li 找到合适的实习机会
    li 在实践中成长，让实践检验学习
    li 收获技能与自信，不再迷茫
    li 每天都过得充实
