// 学生信息
.o-fm-grp(id='university-field')
  label(for='university') 学校名称：
  popup-list(field-name='university' v-bind:field-class="['o-fm-ctl']" items-init-url='/universities')

.o-fm-grp.o-pt-mount
  label(for='major') 专业：
  popup-tabs(
    field-name='major'
    field-class='o-fm-ctl'
    v-bind:init-lables='majors.labels'
    v-bind:init-items='majors.data')

.o-fm-grp
  label(for='entryDate') 入学年份：
  select(name='entryDate', id='entryDate', class='o-fm-ctl')
    each ed in entryDates
      option(value=ed)= ed 

.o-fm-grp
  label(for='careerPlan') 职业规划：
  textarea(name='careerPlan', id='careerPlan', class='u-rich-editor')
  .o-fm-ctl-hint.
    职业规划有助于企业更加了解你，也是自己对未来职业的一个规划。简单来说就是你毕业之后想做什么，有什么目标，具体的行动计划等等

.o-fm-grp
  label(for='zuopin') 课外作品：
  textarea(name='zuopin', id='zuopin', class='u-rich-editor')
  .o-fm-ctl-hint.
    课外作品是大学时期很重要的实践活动，也是很重要的加分项，建议去做并写上
    可以提供简单描述及相关的链接，让公司可以通过链接查看详细说明，如：<br/>
    大三下学期和几个同学一起尝试给电冰箱开发智能控制app，通过app可以查看和控制冰箱的基本状态，如温度，湿度等，相关的创作过程和成果在：http://github.com/xxxxx/xxx_app.git
