// 学生信息
script.
  window.ms = !{JSON.stringify(majors)};
.promotion.form-group.small-font.text-center 完善基本资料是非常有必要的，这能帮助企业更好的了解你，也是对自己学习与职业信息的一个基本记录
.form-group
  label(for='university' class='label label-input') 学校名称：
  input(type='text', name='university', id='university', class='form-control', required)
.form-group
  label(for='major' class='label label-input') 专业：
  input(type='text', name='major', id='major', class='form-control', required)
.form-group
  label(for='entryDate' class='label label-input') 入学年份：
  select(name='entryDate', id='entryDate', class='form-control', required)
    each ed in entryDates
      option(value=ed)= ed 
.form-group
  label(for='careerPlan' class='label label-input') 职业规划：
  textarea(name='careerPlan', id='careerPlan', rows=8, class='form-control rich-editor')
.form-group
  label(for='zuopin' class='label label-input') 课外作品（可选）：
  textarea(name='zuopin', id='zuopin', rows=8, class='form-control rich-editor')
  .form-control-hint.
    可以提供简单描述及相关的链接，让公司可以通过链接查看详细说明，如：<br/>
    大三下学期和几个同学一起尝试给电冰箱开发智能控制app，通过app可以查看和控制冰箱的基本状态，如温度，湿度等，相关的创作过程和成果在：http://github.com/xxxxx/xxx_app.git
