extends _layout.pug
block content
  .c-login-box
    if flashErrors && flashErrors.length
      .u-center-text.u-flash-error= flashErrors[0]
    form-validator(method='post', action='/login', v-bind='$data')
      input(type='hidden' name='return_to' value=return_to)

      .o-fm-grp
        label(for='email') Email：
        input(type='email', name='email', id='email', class='o-fm-ctl' autofocus)

      .o-fm-grp
        label(for='password' class='label label-input') 密码：
        input(type='password', name='password', id='password' class='o-fm-ctl')

      .o-fm-grp
        input(type='submit', value='登 陆' class='u-fir-span o-btn o-btn-primary')
        a(href='/password_reset' class='u-small-font') 忘记密码
