extends ../layouts/main

block content
  div(class='form-wrapper')
    form(method='post', action='/login', class='login')
      input(style={display: 'none'})
      input(style={display: 'none'}, type="password")
      p.row
        label(for='name') 用户：
        input(type='text', name='name', id='name', placeholder='用户名/邮箱', required, autofocus)
        span(style={display: 'none'}, class='invalid')
      p.row
        label(for='password') 密码：
        input(type='password', name='password', id='password', required)
        span(style={display: 'none'}, class='invalid')
      p.row
        input(type='submit', value='登陆', formnovalidate)
        span(style={display: 'none'}, class='invalid')
