extends ../layouts/main
block css
  link(href="/css/password_reset.css", rel="stylesheet")
block content
  .password-reset.hcenter
    if step == 1
      form(method='post' action='/password_reset')
        h1.text-center 密码重置
        div
          p.reset-hint.text-center 请输入你注册的邮箱地址，我们将会发送一封邮件给你，里面包含密码重置链接，点击链接进入重置流程
          .form-group
            input(type='email' name='email' id='email' class='form-control' autofocus)
          .form-group
            input(type='submit' class='btn btn-primary' value='发送重置邮件')
    else if step == 2
      h1.text-center 密码重置
      div
        p.reset-hint.text-center 请检查你的邮箱是否收到了重置邮件，里面包含了重置链接，点击链接进行重置. 如果没有，请看看垃圾邮箱
