extends ../layouts/main
block js
  script(src='/js/signup.js')
block css
  link(href="/css/signup.css", rel="stylesheet")
block content
  .formal-signup
    h3 加入学做网
    p 提前获得实习机会，在实践中成长
    .progress.flex
      div(class={'signup-active': step == 1}) 创建账号
      div(class={'signup-active': step == 2}) 完善基本资料
      div(class={'signup-active': step == 3}) 注册完毕
    .current-step.flex
      case step
        when 1
          include ./_signup_step1.pug
        when 2
          include ./_signup_step2.pug
        when 3
          include ./_signup_step3.pug
