extends ../layouts/main
prepend js
  include ../share/_ueditor_js.pug
append js
  script(src=assetHashPath('user/signup.js'))
append css
  link(href=assetHashPath("user/signup.css"), rel="stylesheet")
block content
  .u-larger-font
    | 加入实习网， 更快找到实习岗位，更好学习专业知识， 快速锁定优秀毕业生：
  #signup-view
