extends _layout.pug
append js
  script(src='/ckeditor/ckeditor.js')
block content
  .answer-new
    .as-head.text-center.large-font
      a.job-title(href='/job/' + job.id)= job.title
      span 修改解答 
    include _question.pug
    div
      .a-title.text-bold 你的答案：
      form.answer-new-form(method='post' action='/question/' + question.id + '/answer/' + answer.id + '/update')
        textarea(name='content' id='content' class='form-control rich-editor')!= answer.content
        .a-new-submit
          input.btn-primary(type='submit' value='保 存')
