extends _layout.pug
block content
  .answer-show
    .as-head.text-center.large-font
      a.job-title(href='/job/' + job.id)= job.title
      span 我的问题解答
    include _question.pug
    include _answer.pug
