extends _layout.pug
block content
  .answer-show
    .answer-head
      | 职位：
      a.job-title(href='/job/' + job.id)= job.title
    .answer-question
      strong 问题：
      .question-content.small-font!= question.content
    .answer-content
      strong 解答：
      .body.small-font!= answer.content
      .opts
        a.edit-answer.btn-normal(href='/question/' + question.id + '/answer/' + answer.id + '/edit') 修 改
        button.btn-warning.del-answer(data-link='/question/' + question.id + '/answer/' + answer.id + '/remove' data-job-id=job.id) 删 除
