@import "common";
@import "../partials/modules/overlay";


/*******************
 * 问题搜索及列表页
 *******************/


// 搜索框
.c-ques-search-fm {
  font-size: 1rem;

  & > .form-control-hr { width: 33.3%; }
}

// 列表中单个问题
.c-ques-list-item {
  padding: 0.5em;
  border: 1px solid $bd-normal;
  border-radius: 4px;
  margin-bottom: 1em;
}

// 问题头部
.c-ques-list-item__head {
  display: flex;
  align-items: flex-end;
}

// 问题标签
.c-ques-list-item__head__labels {
  padding: 0 0.5em;
  border-left: 2px solid $bd-normal;
  border-right: 2px solid $bd-normal;
  margin: 0 0.5em;
}

// 问题内容
.c-ques-list-item__content {
  padding: 0.5em 0;
  margin: 0.5em 0;
  border-top: 1px dashed $bd-light;
  border-bottom: 1px dashed $bd-light;
}
