.c-home-welcome.u-content
  .c-home-welcome__slogan
    h1 有效的学习和实习方式？
    h3 通过问答，在企业和学生之间建立能力评估模型
    h3 不做象牙塔里的学霸，解决问题才是王道

  form-validator(method='post', action='/signup_step1' class='c-home-welcome__signup' v-bind='$data')
    input(type='hidden', name='step', value='1')

    .o-fm-grp
      input(type='text', name='name', id='name', class='o-fm-ctl', placeholder='用户名：' autofocus)

    .o-fm-grp
      input(type='email', name='email', id='email', class='o-fm-ctl' placeholder='Email：')

    .o-fm-grp
      input(type='password', name='password', id='password', class='o-fm-ctl', placeholder='密码：')

    .o-fm-grp
      input.o-hidden-radio(type='radio', id='user-type-student', name='userType', value=0, checked)
      label.o-fm-ctl.is-radio-label(for='user-type-student') 学生
      input.o-hidden-radio(type='radio', id='user-type-company', name='userType', value=1)
      label.o-fm-ctl.is-radio-label(for='user-type-company') 公司

    .o-fm-grp
      input(type='submit', value='加入实习网' class='o-btn o-btn-primary' style={width: '100%'})
