.welcome-other-wrapper
  .welcome-other.content.flex
    .welcome-student.flex
      h3 我是一个名大学生：
      .sentence
        | 明年就毕业了，大学生活没什么惊喜，教材陈旧，老师照样照本宣科，浑浑噩噩四年就快过去了，感觉自己什么都没学到，此刻内心有些迷茫...
        br
        | 也许你应该和企业提前互动一下，认真解决一些问题，重试学习的热情，并获得实习的机会，马上：
      .student-goto
        a(href='/questions' class='btn-primary text-bold goto-questions') 去解决问题
        a(href='/jobs' class='btn-primary text-bold') 看实习岗位
    .welcome-company.flex
      h3 作为一个公司：
      .sentence
        | 招收到优秀的毕业生是公司人才战略中很重要的一环。怎么判断优秀？提前发布问题收集学生解答 + 实习考核
        br
        | 我们希望大学生能够在好好享受大学生活的同时，好好利用人生中这宝贵的四年，能够学有所成。如果你没地方锻炼，我们愿意提供机会
      .company-goto
        a(href='/jobs/new' class='btn-primary text-bold') 发布职位及其问题
