.c-home-second-wel
  .c-home-hot-part
    .u-large-font 热门问题：
    .c-home-hot-items
      each q in hotQs
        .c-home-hot-item
          a(href=`/job/${q._job}/question/${q.id}`)= q.title

  .c-home-hot-part
    .u-large-font 热门实习岗位：
    .c-home-hot-items
      each job in hotJobs
        .c-home-hot-item
          a(href=`/job/${job.id}`)= job.title
