.c-home-second-wel.u-content
  .c-home-second-wel__part
    .u-large-font.u-bold-text 我是大学生：
    ul.c-home-second-wel__todo-list
      li.c-home-second-wel__todo-list__item 和企业提前互动
      li.c-home-second-wel__todo-list__item 认真解决问题
      li.c-home-second-wel__todo-list__item 获得实习机会
    div
      a(href='/questions' class='btn-primary u-fir-span') 解决问题
      a(href='/jobs' class='btn-primary') 找实习岗位
  .c-home-second-wel__part
    .u-large-font.u-bold-text 我是公司：
    ul.c-home-second-wel__todo-list
      li.c-home-second-wel__todo-list__item 发布实习岗位
      li.c-home-second-wel__todo-list__item 辅以配套问题
      li.c-home-second-wel__todo-list__item 锁定优秀毕业生
    div
      a(href='/jobs/new' class='btn-primary') 发布实习岗位
