.c-home-welcome
  .c-home-welcome__inner.u-content
    .c-home-welcome__slogan.larger-font
      h2 有效的学习和实习方式？
      div 通过问答，在企业和学生之间建立能力评估模型
      div 不做象牙塔里的学霸，解决问题才是王道
    form(method='post', action='/signup_step1' class='c-home-welcome__signup js-home-signup-form')
      .form-group
        input(type='hidden', name='step', value='1')
        label(for='name' class='label-input') 用户名：
        input(type='text', name='name', id='name', class='form-control', required, autofocus)
      .form-group
        label(for='email' class='label-input') Email：
        input(type='email', name='email', id='email', class='form-control' required)
      .form-group
        label(for='password' class='label-input') 密码：
        input(type='password', name='password', id='password', class='form-control' required)
      label(class='label-input') 身份：
      .form-group
        input(type='radio', id='user-type-student', name='userType', value=0, checked)
        label.c-home-welcome__signup__ut-label.form-control(for='user-type-student') 学生
        input(type='radio', id='user-type-company', name='userType', value=1)
        label.c-home-welcome__signup__ut-label.form-control(for='user-type-company') 公司
      .form-group
        input(type='submit', value='加入学做网' class='btn-primary c-home-welcome__signup__submit')
