.welcome-other-wrapper
  .welcome-other.content.flex
    .welcome-sec.flex
      .wl-head.large-font.text-bold 我是大学生：
      ul.wl-content
        li 和企业提前互动
        li 认真解决问题
        li 获得实习机会
      .wl-foot
        a(href='/questions' class='btn-primary goto-questions fir-span') 解决问题
        a(href='/jobs' class='btn-primary') 找实习岗位
    .welcome-sec.flex
      .wl-head.large-font.text-bold 我是公司：
      ul.wl-content
        li 发布实习岗位
        li 辅以配套问题
        li 锁定优秀毕业生
      .wl-foot
        a(href='/jobs/new' class='btn-primary') 发布实习岗位
    //.welcome-sec.flex
      //.wl-head.text-bold 我是师兄/师姐：
      //.wl-content 想对学弟学妹们一些忠告也乐意解答一下你们的疑惑
      //.wl-foot
        //a(href='/seniors/says/new' class='btn-primary fir-span') 忠告
        //a(href='/seniors/doubts' class='btn-primary') 解惑
