extends ../layouts/index
append css
  link(href=assetHashPath("css/index.css"), rel="stylesheet")
append js
  script(src=assetHashPath('js/home.js'))
block content
  include _welcome_signup.pug
  include _welcome_student.pug
  include _welcome_company.pug
