extends ../layouts/main
append css
  link(href=assetHashPath("css/index.css"), rel="stylesheet")
append js
  script(src=assetHashPath('js/home.js'))
block content
  .login-box.hcenter
    form(method='post', action='/signup' class='index-signup')
      .form-group
        input(type='hidden', name='step', value='1')
        label(for='name' class='label label-input') 用户名：
        input(type='text', name='name', id='name', class='form-control', required, autofocus)
      .form-group
        label(for='email' class='label label-input') Email：
        input(type='email', name='email', id='email', class='form-control' required)
      .form-group
        label(for='password' class='label label-input') 密码：
        input(type='password', name='password', id='password', class='form-control' required)
      .form-group
        label(class='label label-radio')
          input(type='radio', id='user-type-student', name='userType', value=0, checked)
          | 学生
        label(class='label label-radio')
          input(type='radio', id='user-type-company', name='userType', value=1)
          | 公司
      div
        input(type='submit', value='注 册' class='btn btn-primary')
        a(href='/login' class='small-font') 已有账号，直接登录
