extends ../layouts/index
append css
  link(href=assetHashPath("css/home.css"), rel="stylesheet")
append js
  script(src=assetHashPath('js/home.js'))
block content
  include _welcome_signup.pug
  include _welcome_other.pug
