extends ../layouts/main
append css
  link(href=assetHashPath("home.css"), rel="stylesheet")
append js
  script(src=assetHashPath('home.js'))
block content
  include _welcome_signup.pug
  include _welcome_other.pug
