extends ../layouts/main
block css
  link(href="/css/index.css", rel="stylesheet")
block content
  .flex.index-container.content
    div.index-signup
      form(method='post', action='/signup')
        .form-group
          input(type='text', name='name', id='name', placeholder='用户名' class='form-control')
        .form-group
          input(type='email', name='email', id='email', placeholder='邮箱' class='form-control')
        .form-group
          input(type='password', name='password', id='password', placeholder='密码 不少于6位' class='form-control')
        .form-group
          label(class='button-box')
            input(type='radio', id='user-type-student', name='userType', value=0, checked)
            | 学生
          label(class='button-box')
            input(type='radio', id='user-type-company', name='userType', value=1)
            | 公司
        .form-group
          input(type='submit', value='注册')
    div.welcome
      | Set is easy to use with Enumerable objects (implementing each). Most of the initializer methods and binary operators accept generic Enumerable objects besides sets and arrays. An Enumerable object can be converted to Set using the to_set method
