extends ../layouts/main
append js
  script(src=assetHashPath('about.js'))
append css
  link(href=assetHashPath("about.css"), rel="stylesheet")
block content
  #mount-point
    form-validator(method='get', action='/about/something' v-bind='$data')
      .o-fm-grp
        label(for='name') 用户名：
        input(type='text', name='name', id='name', class='o-fm-ctl', autofocus)

      .o-fm-grp
        label(for='email') Email：
        input(type='email', name='email', id='email', class='o-fm-ctl')

      .o-fm-grp
        label(for='password') 密码：
        input(type='password', name='password', id='password', class='o-fm-ctl')

      .o-fm-grp.u-center-text
        input(type='submit', value='保 存', class='o-btn o-btn-primary')
