section.job-section.questions
  h3.text-center 预备面试题列表
  each question, idx in questions
    .question
      strong 问题#{idx + 1}：
      .small-font!= question.content
      if req.currentUser && req.currentUser.type == 0
        - var answer = myAnswers[question.id]
        if answer
          a.btn-normal(href='/question/' + question.id + '/answer/' + answer.id) 查看我的解答
        else
          a.to-answer.btn-primary(href='/question/' + question.id + '/answers/new') 马上解答
