@import '../partials/common/index';

/***********
 * 个人中心
 ***********/


/* 左侧导航栏 */
.c-uc-left-nav {
  flex: 1;
  border: 1px solid #ccc;
  text-align: center;
}

// 导航栏中的链接
.c-uc-left-nav__item {
  display: block;
  line-height: 2;
  border-bottom: 1px solid #ccc;

  &.is-active {
    color: #000;
    border-left: 2px solid #a00;
    cursor: default;
  }

  &:hover:not(.is-active) {
    background-color: #ddd;
  }
}

/* 右侧具体内容 */
.c-uc-right-content {
  flex: 6;
  padding: 15px 20px;
  border: 1px solid #ccc;
  border-left:none;
}
