// 用在整站的css
* { box-sizing: border-box; }

body {
  font-size: 100%;
  font-family: Helvetica, Tahoma, Arial,
               STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑",
               SimSun, "宋体", sans-serif;
  flex-flow:column;
  min-height:100vh;
}

main {
  flex:1;
  margin-top:1em;
  margin-bottom:1em;
}

.content {
  width:  960px;
  margin: auto;
}

.inline-block { display: inline-block; }
.flex         { display: flex; }
.relative     { position: relative; }
.absolute     { position: absolute; }
.round-border { border-radius: 4px; }

/* horizontal center */
.hcenter {
  margin-left:  auto;
  margin-right: auto;
  display:      block;
}

/* text */
.text-center      { text-align: center; }
.text-bold        { font-weight: bold; }
.large-font       { font-size: 1.2em; }
.larger-font      { font-size: 1.4em; }
.small-font       { font-size: 0.9em; }
.smaller-font     { font-size: 0.8em; }
.vertical-middle  { vertical-align: middle; }

/* link */
a {
  color:            #0276FD;
  text-decoration:  none;
  cursor:           pointer;

  &:hover { text-decoration: underline; }
}

.nav a, a.btn {
  text-decoration: none;
}

/* list */
ul.nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* flash */
.flash-success {
  padding: 0.5em 0;
  color: green;
  margin-bottom: 0.5em;
}

.flash-error {
  padding: 0.5em 0;
  color: red;
  margin-bottom: 0.5em;
}

// button & input & select
@mixin inline-box {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  font-size: 0.9rem;
  height: 2rem;
  line-height: 22px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
}
