// 用在整站的css
* { box-sizing: border-box; }

body {
  font-size: 100%;
  font-family: Helvetica, Tahoma, Arial,
               STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑",
               SimSun, "宋体", sans-serif;
  flex-flow:column;
  min-height:100vh;
}

main {
  flex:1;
  margin-top:1em;
  margin-bottom:1em;
}

.content {
  width:  960px;
  margin: auto;
}

p {
  line-height: 1.2;
  margin-top: 0;
}

.flex         { display: flex; }
.inline-block { display: inline-block; }
.relative     { position: relative; }
.absolute     { position: absolute; }
.round-border { border-radius: 4px; }

/* horizontal center */
.hcenter {
  margin-left:  auto;
  margin-right: auto;
  display:      block;
}

/* text */
.text-center      { text-align: center; }
.text-bold        { font-weight: bold; }
.large-font       { font-size: 1.5em; }
.larger-font      { font-size: 1.25em; }
.small-font       { font-size: 0.9em; }
.smaller-font     { font-size: 0.8em; }
.vertical-middle  { vertical-align: middle; }

/* link */
a {
  color:            $link-color;
  text-decoration:  none;
  cursor:           pointer;

  &.hover-ul:hover { text-decoration: underline; }
}

/* list */
ul.nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* flash */
.flash-success {
  padding: 0.5em 0;
  color: $flash-success-color;
  margin-bottom: 0.5em;
}

.flash-error {
  padding: 0.5em 0;
  color: $flash-error-color;
  margin-bottom: 0.5em;
}

// button & input & select
@mixin inline-box {
  display: inline-block;
  padding: 0.25em 0.5em;
  // 设置为字体的高度一样可以使文字居中
  line-height: 1.3125;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
}

// 2个紧挨在一起的行内元素，第一个元素右边留空
.fir-span {
  margin-right: 0.5em;
}
