/* normal button look*/
.btn {
  @include inline-box;
  color: #eee;
  cursor:pointer;
}

.btn-normal {
  @extend .btn;
  border-color: #53868B;
  background-color: #53868B;
  &:hover {
    background-color: #4A777A;
  }
}


/* primary button look*/
.btn-primary {
  @extend .btn;
  background-color: #2E37FE;
  border-color: #2E37FE;
  &:hover {
    background-color: #0000CD;
  }
}


/* warning button look*/
.btn-warning {
  @extend .btn;
  background-color: #B13E0F;
  border-color: #B13E0F;
  &:hover {
    background-color: #8B2500;
  }
}

/* cancel button */
.btn-cancel {
  @extend .btn;
  background-color: #B18D92;
  border-color: #B18D92;
  &:hover {
    background-color: #8D5E64;
  }
}
