/* normal button look*/
.btn {
  @include inline-box;
  cursor:pointer;
}

.btn-normal {
  @extend .btn;
  color: $btn-nor-color;
  border-color: $btn-nor-bd-color;
  background-color: $btn-nor-bk-color;

  &:hover {
    background-color: $btn-nor-hv-bk-color;
  }
}


/* primary button look*/
.btn-primary {
  @extend .btn;
  color: $btn-pri-color;
  border-color: $btn-pri-bd-color;
  background-color: $btn-pri-bk-color;

  &:hover {
    background-color: $btn-pri-hv-bk-color;
  }
}


/* warning button look*/
.btn-warning {
  @extend .btn;
  color: $btn-warn-color;
  border-color: $btn-warn-bd-color;
  background-color: $btn-warn-bk-color;
  &:hover {
    background-color: $btn-warn-hv-bk-color;
  }
}
