/* +++++++++++ form and controls ++++++++++++ */
label {
  display: inline-block;
}

.label-input {
  font-weight:bold;
}

input[type='radio'] {
  position: absolute;
  visibility: hidden;
}

input[type='radio'] + label {
  text-align: center;
  width: 50%;
  background-color: #fff;
  cursor: pointer;

  &:first-of-type {
    border-radius: 4px 0 0 4px;
  }

  &:last-of-type {
    border-radius: 0 4px 4px 0;
  }
}

input[type='radio']:checked + label {
  border-color: $bd-focus;
}


label.input-error {
  display: inline-block;
  color: $error-color;
  border: none;
  font-size: 0.9em;
}

.form-group {
  margin-bottom: 1em;
}

.form-group-hr {
  display: inline-block;
  margin-right: 1em;
}

.form-control {
  @include inline-box;
  width: 100%;
  margin-top: 0.5em;
}

input.like-fm-ctl[type=submit] {
  width: 100%;
}

.form-control-hr {
  @include inline-box;
}

.form-control:focus {
  border-color: $bd-focus;
}

.form-control-hr:focus {
  border-color: $bd-focus;
}

textarea.form-control {
  height: auto;
}

textarea.rich-editor + div {
  margin-top: 0.5em;
}

.form-control-hint {
  color: $less-imp;
  font-size: 0.75em;
  margin-top:6px;
}
