/* +++++++++++ form and controls ++++++++++++ */
.label {
  display: inline-block;
}

.label-radio {
  margin-right: 0.5em;
}

input[type='radio'] {
  margin-right: 0.5em;
}

.form-group {
  margin-bottom: 1em;
}

.form-group-hr {
  display: inline-block;
  margin-right: 1em;
}

.form-control {
  @include inline-box;
  width: 100%;
  border-color: #ccc;
  color: #333;
  outline:none;
  margin-top: 0.5em;
}

.form-control-hr {
  @include inline-box;
  border-color: #ccc;
  color: #333;
  outline:none;
}

.form-control:focus {
  border-color: #00a;
}

.form-control-hr:focus {
  border-color: #00a;
}

textarea.form-control {
  height: auto;
}

textarea.rich-editor + div {
  margin-top: 0.5em;
}

label.input-error {
  display: inline-block;
  color: #f00;
  border: none;
  font-size: 0.9em;
}

.form-control-hint {
  color: #777;
  font-size: 0.8em;
  margin-top:6px;
  line-height:1.4;
}
