/* +++++++++++ form and controls ++++++++++++ */
label {
  display: inline-block;
}

input[type='radio'] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

input[type='radio'] + label {
  text-align: center;
  width: 50%;
  border-radius: 0;
  background-color: #fff;
}

input[type='radio']:checked + label {
  border-color: $bd-focus;
}


label.input-error {
  display: inline-block;
  color: $error-color;
  border: none;
  font-size: 0.9em;
}

.form-group {
  margin-bottom: 1em;
}

.form-group-hr {
  display: inline-block;
  margin-right: 1em;
}

.form-control {
  @include inline-box;
  padding: 0.5em;
  width: 100%;
  border-color: $bd-light;
  margin-top: 0.5em;
}

input.like-fm-ctl[type=submit] {
  padding: 0.5em;
  width: 100%;
}

.form-control-hr {
  @include inline-box;
  border-color: $bd-light;
  vertical-align: middle;
}

.form-control:focus {
  border-color: $bd-focus;
}

.form-control-hr:focus {
  border-color: $bd-focus;
}

textarea.form-control {
  height: auto;
}

textarea.rich-editor + div {
  margin-top: 0.5em;
}

.form-control-hint {
  color: $less-imp;
  font-size: 0.75em;
  margin-top:6px;
}
