/* header */
header {
  background-color: #ddd;
  padding: 6px 0;

  .header-container {
    align-items:center;

    .logo {
      margin-right:auto;
      text-decoration: none;
    }
  }

  .msg-notify {
    display: inline-block;
    position: relative;
    margin-right: 18px;
    color: #777;

    .fa {
      font-size: 22px;
    }

    &.has-msg {
      color: #a00;
    }

    .msg-tip {
      display: none;
      position: absolute;
      top: 140%;
      left: -2.7em;
      padding: 0.5em;
      width: 7em;
      color: #fff;
      background-color: #000;
    }
  }

  .msg-notify:hover .msg-tip {
    display: block;
    z-index: 10;

    &::after {
      content: '';
      position: absolute;
      bottom: 100%;
      left: calc(50% - 5px);
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent #000 transparent;
    }
  }

  .user-center {
    position: relative;

    .profile-index {
      display: inline-block;

      img {
        margin-right: 6px;
        width: 22px;
        height: 22px;
      }
    }

    .profile-index + .profile-dropdown {
      position: absolute;
      display: none;
      top: 120%;
      right: -53%;
      width: 100px;
      background-color: #fff;
      border: 1px solid #aaa;
      z-index: 10;

      li:not(:first-child):hover {
        background-color: #bbb;
      }

      li {
        padding:: 0.4em;
      }

      li:first-child {
        border-bottom: 1px solid #bbb;
      }

      &::after {
        content: '';
        position: absolute;
        z-index: -1;
        bottom: 100%;
        left: 70%;
        top: -7px;
        background-color: #fff;
        width: 10px;
        height: 10px;
        border-width: 1px;
        border-style: solid;
        border-color: #aaa #aaa transparent transparent;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }
  }

  .login {
    margin-right: 1em;
  }
}
