/* header */
header {
  padding: 0.5em 0;
  background-color: #eee;
  border-bottom: 1px solid #ddd;

  .header-container {
    align-items:center;

    & > a {
      margin-right: 1em;
    }

    & > a:not(.logo) {
      color: $less-imp;
    }

    & > a:not(.logo):hover {
      color: $link-color;
    }

    .division {
      margin-right: 1em;
      background-color: $bd-light;
      width: 2px;
      height: 1.125em;
    }

    .right-btns {
      margin-left: auto;
    }
  }

  // 消息通知
  .msg-notify {
    display: inline-block;
    position: relative;
    margin-right: 18px;
    color: $less-imp;

    .fa {
      font-size: 22px;
    }

    &.has-msg {
      color: $error-color;
    }

    .msg-tip {
      display: none;
      position: absolute;
      top: 140%;
      left: -2.7em;
      padding: 0.5em;
      width: 7em;
      color: #fff;
      background-color: #000;
    }
  }

  .msg-notify:hover .msg-tip {
    display: block;
    z-index: 10;

    &::after {
      content: '';
      position: absolute;
      bottom: 100%;
      left: calc(50% - 5px);
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent #000 transparent;
    }
  }

  // 登陆菜单
  .user-center {
    position: relative;

    .profile-index {
      display: inline-block;

      img {
        margin-right: 6px;
        width: 22px;
        height: 22px;
      }
    }

    .profile-dropdown {
      position: absolute;
      display: none;
      top: 120%;
      right: -53%;
      width: 100px;
      background-color: #fff;
      border: 1px solid $bd-normal;
      z-index: 10;

      li:not(:first-child):hover {
        background-color: $bd-light;
      }

      li {
        padding:: 0.4em;
      }

      li:first-child {
        border-bottom: 1px solid $bd-light;
      }

      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        bottom: 100%;
        left: 70%;
        top: -7px;
        background-color: #fff;
        width: 10px;
        height: 10px;
        border-width: 1px;
        border-style: solid;
        border-color: $bd-normal $bd-normal transparent transparent;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }
  }
}
