.il-labels-input {
  color: #333;
  margin-top: 0.5rem;
  padding: 0.25rem 0.5rem;
  line-height: 22px;
  border: 1px solid #ccc;

  .il-input {
    flex: 1;
    font-size: 0.9rem;
    outline:none;
    border: none;
  }

  .il-in-lab {
    border: 1px solid #888;
    padding: 2px;
    padding-right: 6px;
    margin-right: 6px;

    .fa {
      top: -6px;
      cursor: pointer;
    }
  }
}

.il-pop-labels {
  border: 1px solid #00a;
  border-top: none;
  padding: 0.5em;
  background-color: #eee;

  li {
    display: inline-block;
    border: 1px solid #888;
    cursor: pointer;
  }

  li:hover {
    background-color: #aaa;
  }

  span {
    display: inline-block;
    padding: 0.25em;
  }

  span:first-child {
    border-right: 1px solid #888;
  }
}
