// 答案详情展示UI
.c-answer-detail {
  border: 1px solid $bd-dark;
  border-radius: 4px 4px 0 0;
  border-bottom: none;
  margin: 1em 0;
}

.c-answer-detail__head,
.c-answer-detail__body,
.c-answer-detail__foot {
  padding: 0.5rem;
  border-bottom: 1px solid $bd-dark;
}

.c-answer-detail__head {
  display: flex;
  align-items: flex-end;
}

.c-answer-detail__foot {
  display: flex;
  align-items: center;
}

// 答案的各种属性，如创建时间等
.c-answer-detail__attrs > span {
  padding: 0 0.5em;
  border-right: 2px solid $bd-dark;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
    border-right: none;
  }
}
