/**
 * site's header
 */

.c-header {
  padding: 0.5em 0;
  background-color: #eee;
  border-bottom: 1px solid #ddd;
}

.c-header__inner {
  display: flex;
  align-items:center;
}

.c-header__inner__link {
  margin-right: 1em;
}

.c-header__inner__site-logo {
  margin-right: 1em;
}

.c-header__inner__sep {
  margin-right: 1em;
  background-color: $bd-light;
  width: 2px;
  height: 1.125em;
}

.c-header__inner__right {
  margin-left: auto;
}


/**
 * 消息通知图标
 */
.c-msg-notify {
  display: inline-block;
  position: relative;
  margin-right: 18px;
}

// 图标
.c-msg-notify__icon {
  font-size: 22px;
  color: $less-imp;
  vertical-align: middle;

  &.has-msg {
    color: $error-color;
  }
}

// 悬浮提示框
.c-msg-notify__tip {
  display: none;
  position: absolute;
  top: 140%;
  left: -2.7em;
  padding: 0.5em;
  width: 7em;
  color: #fff;
  background-color: #000;
}

// 鼠标移上去后才展示
.c-msg-notify:hover > .c-msg-notify__tip {
  display: block;
  z-index: 10;

  &::after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: calc(50% - 5px);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #000 transparent;
  }
}


/**
 * 头像及个人中心菜单列表
 */
.c-profile-bar {
  position: relative;
}

// 头像
.c-profile-bar__avatar {
  vertical-align: middle;
  border-radius: 4px;
  margin-right: 6px;
  width: 22px;
  height: 22px;
}

// 下拉图标
.c-profile-bar__caret {
  vertical-align: middle;
}

// 下拉菜单
.c-profile-bar__pop-menu {
  position: absolute;
  display: none;
  top: 140%;
  right: -53%;
  width: 100px;
  background-color: #fff;
  border: 1px solid $bd-normal;
  border-radius: 4px;
  z-index: 10;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 100%;
    left: 70%;
    top: -7px;
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: $bd-normal $bd-normal transparent transparent;
    transform: rotate(-45deg);
  }

}

// 下拉菜单项
.c-profile-bar__pop-menu__item {
  text-align: center;
  padding:: 0.4em;

  &:first-child {
    border-bottom: 1px solid $bd-light;
  }

  &:not(:first-child):hover {
    background-color: $bd-light;
  }

}
