.o-labels-input {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  padding: 0 0.5em;
  height: 2.125em;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;

  &.is-active {
    border-color: #00a;
  }
}

//- input label
.o-labels-input__input {
  flex: 1;
  font-size: 0.9rem;
  outline:none;
  border: none;
}

// current label wrapper
.o-labels-input__lab-wrapper {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px;
  margin-right: 6px;
}

.o-labels-input__lab-del {
  color: #777;
  cursor: pointer;

  &:hover { color: #900; }
}

/*******************
 * popup lables
 ******************/
.o-labels-popup {
  position: absolute;
  z-index: 1000;
  width: 100%;
  background-color: #fff;
  border: 1px solid #00a;
  border-top: none;
  padding: 0.5em;
}

.o-labels-popup__close {
  position: absolute;
  bottom:: 6px;
  right: 6px;
  cursor: pointer;
  color: #777;

  &:hover { color: #900; }
}

.o-labels-popup__item {
  display: inline-block;
  margin: 0.3em 1em;
}

.o-labels-popup__name {
  display: inline-block;
  padding: 5px;
  background-color: #ddd;
  cursor: pointer;

  &:hover {
    background-color: #ccc;
  }
}

.o-labels-popup__cnt {
  display: inline-block;
  color: #777;
}
