.pager-container {
  margin: 1em 0;

  ul {
    display: inline;
  }

  li {
    display: inline-block;
    text-align: center;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: 1px solid #aaa;
    border-right: none;

    &:last-child {
      border-right: 1px solid #aaa;
    }

    &.active {
      background-color: #aaa;
    }
  }

  a {
    display: inline-block;
  }

  .prefix, .postfix {
    font-family: SimSun, "宋体", sans-serif;
    font-size: 0.8em;
  }

  .postfix a {
    padding-left: 0.5em;
  }

  .prefix a {
    padding-right: 0.5em;
  }
}
