/**
 * 中间悬浮框及下面的全屏阴影层
 */

.o-overlay-mount {
  display: inline-block;
}

// 全屏阴影层
.o-overlay-bk {
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.5);
  z-index:2000;
}

// 中间悬浮框
.o-overlay-dlg {
  position:fixed;
  border:6px solid rgba(0,0,0,0.7);
  z-index:2001;
  padding:0.5em;
  background:#fff;
}

.o-overlay-dlg__head {
}

.o-overlay-dlg__body {
  margin: 6px 0;
  padding: 6px 0;
  border-top: 2px solid #777;
  border-bottom: 2px solid #777;
}

.o-overlay-dlg__foot {
  margin-top: 0.5em;
  padding-top: 0.5em;
  border-top: 1px solid #aaa;
}
