// 问题详情展示UI
.c-detail-question {
  margin: 1em 0;
  border: 1px solid $bd-light;
  border-radius: 4px 4px 0 0;
  border-bottom: none;
}

.c-detail-question__head,
.c-detail-question__body,
.c-detail-question__foot {
  border-bottom: 1px solid $bd-light;
  padding: 0.5rem;
}

// 底部说明分割线
.c-detail-question__foot > span {
  padding: 0 0.5em;
  border-right: 2px solid $bd-normal;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
    border-right: none;
  }
}
