.o-ss-wrapper {
  display: inline-block;
}

.o-search-sugg {
  position: absolute;
  width: 100%;
  background-color: #fff;
  border: 1px solid #00a;
  border-top: none;
  overflow:   auto;
  z-index: 1000;
}

.o-search-sugg__item {
  padding: 0.2em 0.6em;
  cursor: pointer;

  &:hover, &.is-active {
    background-color: #ccc;
  }
}
