extends _layout.pug
block content
  .q-index
    .q-common-head.flex
      a.fir-span(href='/job/' + job.id)= job.title
      span 的题目列表
      if isMyJob
        a.btn-primary.new-q(href='/job/' + job.id + '/questions/new') 创建题目
    .q-list
      if questions.length == 0
        .text-center
          if isMyJob
            | 您暂时没有为此职位创建任何题目，预先给出试题有助于深入及提前考察面试者！
          else
            | 此职位暂时没有创建任何题目
      else
        each question in questions
          include _list_question.pug
