extends _layout.pug
append js
  script(src='/ckeditor/ckeditor.js')
block content
  .q-new-edit
    .q-common-head
      span.fir-span 您正在为职位
      a.fir-span(href='/job/' + job.id)= job.title
      span 新增一道试题：
    form.q-new.small-font(method='post' action='/job/' + job.id + '/questions/create')
      .form-group
        label(for='title' class='label label-input') 标题：
        input(type='text' name='title', id='title' class='form-control', required, autofocus)
      .form-group
        label(for='tag' class='label label-input') 分类：
        select(name='tag', id='tag' class='form-control', required)
          option(value='' selected) 请选择
          each t in quesTags
            option(value=t)= t 
      .form-group
        label(for='labels' class='label label-input') 标签：
        input(type='text' name='labels', id='labels' class='form-control')
      .form-group
        label(class='label label-input') 难度：
        select(name='level', id='level' class='form-control', required)
          each l in [0,1,2,3,4]
            option(value=l)= l
      .form-group
        label(for='content' class='label label-input') 题目内容：
        textarea(name='content', id='content' class='form-control rich-editor', required)
      .form-group
        input(type='submit', value='保 存' class='btn btn-primary')
