extends _layout.pug
block content
  .q-common-head
    form(action='/questions')
      .form-group-hr
        label(for='tag' class='label label-input') 分类：
        select(name='tag', id='tag' class='form-control-hr', required)
          option(value='' selected) 请选择
          each t in quesTags
            option(value=t, selected=t == curTag)= t 
      .form-group-hr
        label(for='company_name' class='label label-input') 公司：
        input(type='text' name='company_name', id='company_name' class='form-control-hr')
      .form-group-hr
        input(type='submit', value='搜 索' class='btn-primary')
  .q-list
    if questions.length == 0
      .text-center 没有找到符合条件的问题！
    else
      each question in questions
        include _list_question.pug
