extends _layout.pug
append css
  link(href=assetHashPath("question/search.css"), rel="stylesheet")
append js
  script(src=assetHashPath('question/search.js'))
block content
  .c-ques-common-head
    form(action='/questions' class='c-ques-search-fm')
      .o-fm-grp-hr
        label(for='tag') 分类：
        select(name='tag', id='tag' class='o-fm-ctl-hr')
          option(value='' selected) 请选择
          each t in quesTags
            option(value=t, selected=t == curTag)= t 

      .o-fm-grp-hr
        label(for='company_name') 公司：
        input(type='text' name='company_name', id='company_name' class='o-fm-ctl-hr')

      .o-fm-grp-hr
        input(type='submit', value='搜 索' class='o-btn o-btn-primary')

  if questions.length == 0
    .u-center-text 没有找到符合条件的问题！
  else
    each question in questions
      include _list_question.pug
